body {
    background-image: url("../images/background.jpg");
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 20px;
  }

header {
    font-size: 75px;
    color:rgb(153, 56, 192);
    text-align: center; 
    background-color: black;
}

.details {
    font-size: 20px;
    color:rgb(153, 56, 192);
    text-align: center; 
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    color:rgb(153, 56, 192);
    text-align: center; 
    background-color: black;
    margin-top: 25px;
}

h3 {
    font-size: 35px;
    color:rgb(153, 56, 192);
    text-align: center; 
    background-color: black;  
}

.crystals {
    color:rgb(153, 56, 192);
    text-align: center; 
    background-color: black;
    margin-top: 50px;
}



